import("spam")
import("sp")
import("rgeos")
import("rgdal")
import("raster")
import("xts")
import("topmodel")
importFrom("maptools", "unionSpatialPolygons")
importFrom("maptools", "nearestPointOnLine")
importFrom("maptools", "nearestPointOnSegment")
importFrom("fields", "drape.plot")
importFrom("fields", "drape.color")
importFrom("hydroGOF", "gof")
importFrom("hydroGOF", "NSE")
importFrom("tools", "file_ext")
importFrom("shape", "filledcircle")
importFrom("intervals", "Intervals")
importFrom("intervals", "interval_intersection")
importFrom("intervals", "size")
export("add.disc")
export("apply.params")
export("create.proj")
export("disc.catch")
export("disc.from.dir")
export("gr.off")
export("gr.on")
export("rebuild.disc")
export("run.gof")
export("run.proj")
export("run.sets")
export("upslope.area")
export("write.disc")
export("write.proj")
export("build.calib.set")
export("disp.run")
export("approx.pe.ts")
export("run.dtm")
export("add.disc")
export("apply.params")
export("create.proj")
export("disc.catch")
export("disc.from.dir")
export("gr.off")
export("gr.on")
export("rebuild.disc")
export("run.gof")
export("run.proj")
export("run.sets")
export("upslope.area")
export("write.disc")
export("write.proj")
export("build.calib.set")
export("disp.run")
export("approx.pe.ts")
export("run.dtm")
export("add.disc")
export("apply.params")
export("create.proj")
export("disc.catch")
export("disc.from.dir")
export("gr.off")
export("gr.on")
export("rebuild.disc")
export("run.gof")
export("run.proj")
export("run.sets")
export("upslope.area")
export("write.disc")
export("write.proj")
export("build.calib.set")
export("disp.run")
export("approx.pe.ts")
export("run.dtm")
export("add.disc")
export("apply.params")
export("create.proj")
export("disc.catch")
export("disc.from.dir")
export("gr.off")
export("gr.on")
export("rebuild.disc")
export("run.gof")
export("run.proj")
export("run.sets")
export("upslope.area")
export("write.disc")
export("write.proj")
export("build.calib.set")
export("disp.run")
export("approx.pe.ts")
export("run.dtm")
export("add.disc")
export("apply.params")
export("create.proj")
export("disc.catch")
export("disc.from.dir")
export("gr.off")
export("gr.on")
export("rebuild.disc")
export("run.gof")
export("run.proj")
export("run.sets")
export("upslope.area")
export("write.disc")
export("write.proj")
export("build.calib.set")
export("disp.run")
export("approx.pe.ts")
export("run.dtm")
